html
  head
    title='Test App'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello CI Test!!!
        p nothing else to add...
        p 
          a.btn.btn-primary(href="http://google.com") Google
        p