html
  head
    title='Hello World App'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 sbc systems!
        p Nothing else to add... - I am Batman!
        p 
          a.btn.btn-primary(href="http://b2e-technologies.co.uk/") SBC Systems
        p